@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel


<!--Adam Neumiller 
    Section 3
    The purpose of this program is to build a website that is links to a database database. The database was built using a 
    model first approach. 

    Assignment #6 Covered the implementation of pagination and boostrap styling for that. I updated the database with my top
    book choices. The videos showed ways to make the code dynamic (i.e. calling in the styling in models. )

    Implmented the following bootstrap principles not covered in the videos or chapter 7

    1) table-hover : This class highlights the tables rows when the mouse hovers over it, thus improving readability 
    2) table-strpied : this makes the table rows striped and increases the readibility 
    3) table-bordered : this adds borders around the cells of the table
    4) table-dark : Changes the table to dark from the default light
    5) font-weight-bold : changes the font text to bold
    6) text-dark : Makes the text black
    
    -->
<div class="text-center">
    <div class="text-center">
        <table class="center table table-dark table-striped table-hover table-bordered">
            <!--Table for the database-->
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author First Name</th>
                    <th>Author Middle Initial</th>
                    <th>Author Last Name</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Total Pages</th>

                </tr>
            </thead>



            <tbody>
                <!--Loops through all of the items in the database to print them out here-->
                @foreach (var x in Model.Books)
                {
                    <tr class="table-hover">
                        <td>@x.BookId </td>
                        <td>@x.Title</td>
                        <td>@x.AuthorFirstName</td>
                        <td>@x.AuthorMiddleInitial</td>
                        <td>@x.AuthorLastName</td>
                        <td>@x.Publisher</td>
                        <td>@x.ISBN</td>
                        <td>@x.Classification</td>
                        <td>@x.Category</td>
                        <td>$@x.Price</td>
                        <td>@x.PageNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Import the page navigation Model and Action
    <div page-model="@Model.PagingInfo" page-Action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-ouline-dark" page-class-selected="btn-light"
         class="pull-right m1 "> </div>
    -->
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-dark"
         class="text-center bg-light m1">



    </div>
</div>


