@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book> 

<div class="text-center">
    <h1>Good Reads Book Database!</h1>
    <div class="text-center">
        <table class="center table table-dark table-striped">
            <!--Table for the database-->
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Category</th>
                    <th>Price</th>

                </tr>
            </thead>



            <tbody>
                <!--Loops through all of the items in the database to print them out here-->
                @foreach  (var x in Model)
                {
                <tr id="highlight">
                    <td>@x.BookId </td>
                    <td>@x.Title</td>
                    <td>@x.Author</td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Category</td>
                    <td>$@x.Price</td>
                </tr>
       }
            </tbody>
        </table>
    </div>

</div>


